!!!5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{ !!title ? title + ' - ' + site.name : site.name }

    meta(name='author', content='#{ !!author ? author : site.author }')
    meta(name='description', content='#{ !!metaDescription ? metaDescription : site.metaDescription }')

    link(rel='stylesheet', href='assets/css/app.css')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body

    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-nav')
            span.sr-only Navigate
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html')= site.name
        .collapse.navbar-collapse
          .navbar-right
            ul.nav.navbar-nav
              li(class="#{ (current.path == 'index') ? 'active' : ''}")
                a(href='index.html') Home
              li(class="#{ (current.path == 'about') ? 'active' : ''}")
                a(href='about.html') About

    main.site-main
      != yield

    footer.site-footer
      .container
        p.copyright &copy; #{ new Date().getFullYear() } #{ site.name }

    script(src='ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="assets/components/jquery/dist/jquery.min.js"><\/script>');
    script(src='assets/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='assets/js/app.js')
